{% extends "base.html" %}

{% block title_block %} Moderators page {% endblock %}

{% block content_block %}
    Welcome on the moderators page. Here U can: <br>
    <a href="/beer">see beer list and edit one of them</a><br>
    <a href="/moderator/beer/add">add new beer</a><br>

    <a href="/brewery">see brewery list and edit one of them</a><br>
    <a href="/moderator/brewery/add">add new brewery</a><br>

    <a href="/country">see countries list and edit one of them</a><br>
    <a href="/moderator/country/add">add new country</a><br>

    <a href="/moderator/message">check messages from users</a><br>


{% endblock %}