<ul class="nav">
    <li id="home"><a href="/">Home</a></li>

    <li id="beer"><a href="/beer">Beers</a></li>
    <li id="brewery"><a href="/brewery">Breweries</a></li>
    <li id="country"><a href="/country">Countries</a></li>
    <li id="tags"><a href="/tag">Tags</a></li>

    <li id="search"><a href="/search">Search</a></li>
    <li id="contact"><a href="/contact">Contact</a></li>

    <li id="create"><a href="/create">Sign up</a></li>
</ul>

<form class="navbar-form pull-right" action="/login/" method="post">
    {% csrf_token %}

    <input class="span2" id="login" name="login"
           type="text" placeholder="Login">
    <input class="span2" id="password" name="password"
           type="password" placeholder="Password">

    <button type="submit" class="btn">Sign in</button>
</form>