<ul class="nav">
    <li id="home"><a href="/">Home</a></li>

    <li id="beer"><a href="/beer">Beers</a></li>
    <li id="brewery"><a href="/brewery">Breweries</a></li>
    <li id="country"><a href="/country">Countries</a></li>
    <li id="tags"><a href="/tag">Tags</a></li>

    <li id="recommendation"><a href="/recommendation">Recommendation</a></li>

    <li id="search"><a href="/search">Search</a></li>
    <li id="profile"><a href="/profile">Profile</a></li>
    <li id="contact"><a href="/contact">Contact</a></li>

    <li id="logout"><a href="/logout">Logout</a></li>
</ul>
